<template>
  <v-hover v-slot:default="{ hover }">
    <nuxt-link :to="`news/${news.id}`">
      <v-card flat class="px-5 py-4" :class="hover && 'zoom'">
        <v-row>
          <v-col class="col-12 col-sm-4">
            <v-card flat>
              <v-img :class="hover && 'zoom'" height="180" :src="image(news.bgImage)" :lazy-src="image(news.bgImage)" />
            </v-card>
          </v-col>
          <v-col class="col-12 col-sm-8 d-flex flex-wrap flex-column">
            <v-card-title class="pa-0">
              <a class="primary--text" :class="hover && 'title'">
                {{ news.title }}
              </a>
            </v-card-title>
            <div class="grey--text body-2 py-1">
              {{ parseDate(news.createdAt).toUTCString() }}
            </div>
            <v-card-text class="pa-0 text-truncate">
              {{ text(news.content) }}
            </v-card-text>
            <div class="ml-auto mt-auto">
              <v-btn color="primary" text :outlined="hover && true">
                {{ $t('components.news.readMore') }}
              </v-btn>
            </div>
          </v-col>
        </v-row>
      </v-card>
    </nuxt-link>
  </v-hover>
</template>
<script>
export default {
  props: {
    news: {
      type: Object,
      required: true
    }
  },
  methods: {
    image (item) {
      if (!item) { return `${process.env.baseUrl}${this.$store.state.user.logo.logo}` }
      return `${process.env.baseUrl}/image/${item.split('/')[2]}`
    },
    text (item) {
      return item.replace(/(<([^>]+)>)/ig, '')
    },
    parseDate (date) {
      return new (Function.prototype.bind.apply(
        Date, [null].concat(date)
      ))()
    }
  }
}
</script>

<style scoped>
.zoom {
  transition: .2s ease-in-out;
  -webkit-transition: .2s ease-in-out;
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
}
</style>
