<template>
  <div v-if="properties.length" class="pb-4">
    <v-row align="center" justify="center" class="mx-5">
      <span class="grey--text title">{{ $t(title) }}</span>
      <v-spacer />
      <v-btn color="primary" text :to="localePath('properties')">
        {{ $t('components.home.list.showMore') }}
      </v-btn>
    </v-row>
    <v-divider class="mx-5" />
    <v-slide-group
      show-arrows
    >
      <v-slide-item
        v-for="(item,i) in properties"
        :key="i"
      >
        <v-hover v-slot:default="{ hover }">
          <nuxt-link :to="`properties/${item.id}`">
            <v-card
              :elevation="hover ? 7: 0"
              :class="hover && 'zoomCard'"
              class="ma-4"
              width="300"
            >
              <v-card flat>
                <v-img
                  class="white--text align-end"
                  height="150"
                  :lazy-src="image(item.bgImage)"
                  :src="image(item.bgImage)"
                >
                  <v-card-title class="title">
                    {{ item.name }}
                  </v-card-title>
                </v-img>
              </v-card>
              <v-card-subtitle class="pb-0">
                <div v-if="!!item.price" class="primary--text">
                  {{ $n(item.price, {key: 'currency', currency: item.currency}) }}
                </div>
                <div v-if="!item.price">
                  <br>
                </div>
                <div class="grey--text body-2">
                  <v-icon small>
                    mdi-map-marker
                  </v-icon>
                  {{ item.address }}
                </div>
              </v-card-subtitle>

              <v-card-text class="text-truncate">
                {{ text(item.description) }}
              </v-card-text>
            </v-card>
          </nuxt-link>
        </v-hover>
      </v-slide-item>
    </v-slide-group>
  </div>
</template>
<script>
export default {
  props: {
    title: {
      type: String,
      default: ''
    },
    properties: {
      type: Array,
      required: true
    }
  },
  data () {
    return {
      itemsPerPageArray: [4, 8, 12],
      search: '',
      env: `${process.env.baseUrl}`,
      filter: {},
      sortDesc: false,
      page: 1,
      itemsPerPage: 4,
      sortBy: 'name'
    }
  },
  methods: {
    image (item) {
      if (!item) { return `${this.env}${this.$store.state.user.logo.logo}` }
      return `${this.env}/image/${item.split('/')[2]}`
    },
    text (item) {
      return item.replace(/(<([^>]+)>)/ig, '')
    },
    async showList (type) {
      await this.$store.dispatch('getProperties', { form: { location: '' } })
      this.$router.push({ name: 'properties', params: { propertyType: type } })
    }
  }
}
</script>

<style>
.zoomCard {
  transition: .2s ease-in-out;
  -webkit-transition: .2s ease-in-out;
  transform: scale(1.04);
  -webkit-transform: scale(1.04 );
}
.v-slide-group.v-item-group>.v-slide-group__next, .v-slide-group.v-item-group>.v-slide-group__prev {
  display: contents;
}
</style>
