<template>
  <div>
    <v-carousel
      height="550"
      hide-delimiter-background
      show-arrows-on-hover
      hide-delimiters
    >
      <v-carousel-item v-for="item in items" :key="item.id" v-html="item" />
    </v-carousel>
    <v-container :class="$vuetify.breakpoint.smAndUp ? 'px-10' : 'px-3'" :style="$vuetify.breakpoint.smAndUp ? 'margin-top: -510px;': 'margin-top: -550px;'">
      <v-card color="transparent" flat width="90%" class="ma-auto">
        <div class="title text-center py-10 pt-10">
          <h2 class="white--text">
            {{ slides.name }}
          </h2>
          <div class="white--text font-weight-light">
            {{ slides.shortDescription }}
          </div>
        </div>
        <v-divider dark inset class="py-2 pb-10" />
      </v-card>
      <v-card class="mx-auto shardow" :style="searchBar">
        <v-row no-gutters class="pa-2">
          <v-col class="pr-1 col-10 col-sm-11 col-md-11">
            <v-combobox
              v-model="search"
              outlined
              :label="$t('components.home.search')"
              :hide-no-data="!search"
              style="margin-bottom: -30px;"
              :loading="isLoading"
              autocomplete="off"
              @change="searchkey"
            >
              <template slot="no-data">
                <v-subheader>{{ $t('components.home.properties') }}</v-subheader>
                <v-divider class="mx-5" />
                <v-list-item
                  v-for="item in entries.property"
                  :key="item.id"
                  :to="`properties/${item.id}`"
                >
                  <v-list-item-avatar class="mr-2">
                    <v-icon>mdi-map-marker</v-icon>
                  </v-list-item-avatar>
                  <v-list-item-content>
                    <v-list-item-title>
                      {{ item.name }} <v-chip
                        class="ma-2"
                        color="#DCEDFF"
                        small
                      >
                        {{ $n(item.price, {key: 'currency', currency: item.currency}) }}
                      </v-chip>
                    </v-list-item-title>
                    <v-list-item-subtitle>{{ item.address }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>

                <v-subheader>{{ $t('components.home.newsAndEvents') }}</v-subheader>
                <v-divider class="mx-5" />
                <v-list-item
                  v-for="item in entries.news"
                  :key="item.id"
                  :to="`news/${item.id}`"
                >
                  <v-list-item-avatar class="mr-2">
                    <v-icon>mdi-newspaper-variant</v-icon>
                  </v-list-item-avatar>
                  <v-list-item-content>
                    <v-list-item-title>{{ item.title }}</v-list-item-title>
                    <v-list-item-subtitle>{{ parseDate(item.createdAt).toUTCString() }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </template>
            </v-combobox>
          </v-col>
          <v-col class="col-2 col-sm-1 col-md-1">
            <div>
              <v-btn height="55" block color="primary" @click="searchkey">
                <v-icon> mdi-magnify </v-icon>
              </v-btn>
            </div>
          </v-col>
        </v-row>
      </v-card>
    </v-container>
  </div>
</template>
<script>
import getData from '@/api/search.js'

export default {
  data () {
    return {
      form: {
        location: ''
      },
      env: `${process.env.baseUrl}`,
      entries: { news: [], property: [] },
      isLoading: false,
      search: null
    }
  },
  computed: {
    items () {
      return this.slides.slideImage.map((arr) => {
        if (arr.includes('files')) { return `<video width="100%" height="auto" controls muted autoplay loop> <source src="${this.env}${arr}" type="video/ogg"></video>` }
        if (arr.includes('image')) { return `<img style="${this.$vuetify.breakpoint.smAndUp ? 'width:100%;' : ''} height:auto;" src="${this.env}${arr}"></img>` }
      })
    },
    slides () {
      if (!this.$store.state.homeSlide) { return {} }
      return this.$store.state.homeSlide
    },
    searchBar () {
      return this.$vuetify.breakpoint.xsOnly ? 'margin-top: 50px; margin-bottom: 170px' : 'margin-top: 270px'
    }
  },
  methods: {
    image (item) {
      if (!item) { return }
      return `${this.env}/image/${item.split('/')[2]}?width=1000&height=2500`
    },
    parseDate (date) {
      return new (Function.prototype.bind.apply(
        Date, [null].concat(date)
      ))()
    },
    async searchkey () {
      if (this.isLoading || !this.search) { return }
      this.isLoading = true
      try {
        const result = await getData(this.search)
        this.entries = result.data
        this.isLoading = false
      } catch (err) {
        this.isLoading = false
      }
    },
    gotoProperty (item) {
      this.$router.push({
        name: 'propertyDetails',
        params: item
      })
    },
    gotoNews (item) {
      this.$router.push({
        name: 'newsDetails',
        params: item
      })
    }
  }
}
</script>

<style scoped>
.bg-color {
  background: linear-gradient(180deg,#79c1cc,#bee0d0);
}
.shardow {
  -webkit-box-shadow: 20px 20px 51px -30px rgba(0,0,0,0.42);
-moz-box-shadow: 20px 20px 51px -30px rgba(0,0,0,0.42);
box-shadow: 20px 20px 51px -30px rgba(0,0,0,0.42);
}
</style>
