<template>
  <div>
    <div class="grey--text subtitle-1 py-5">
      {{ $t('views.contact.getMoreInfo') }}
    </div>
    <div>
      <v-form ref="form">
        <v-row>
          <v-col class="col-12 col-sm-6 py-0">
            <v-text-field v-model="form.name" color="primary" outlined :rules="nameRules" :label="$t('views.contact.name')" />
          </v-col>
          <v-col class="col-12 col-sm-6 py-0">
            <v-text-field v-model="form.email" color="primary" outlined :rules="emailRules" :label="$t('views.contact.email')" />
          </v-col>
          <v-col class="col-12 col-sm-6 py-0">
            <v-text-field v-model="form.tel" color="primary" outlined :label="$t('views.contact.contactNum')" />
          </v-col>
          <v-col class="col-12 col-sm-6 py-0">
            <v-text-field v-model="form.subject" color="primary" outlined :label="$t('views.contact.subject')" />
          </v-col>
        </v-row>
        <v-textarea
          v-model="form.content"
          outlined
          color="primary"
          :rules="desRules"
          :label="$t('views.contact.des')"
        />
        <v-btn color="primary" @click="submit">
          {{ $t('views.contact.submit') }}
        </v-btn>
      </v-form>
      <v-snackbar
        v-model="snackbar"
        color="#855410"
        :timeout="2000"
      >
        {{ message }}
      </v-snackbar>
    </div>
  </div>
</template>

<script>
import submitForm from '@/api/submitFeedback.js'

export default {
  data () {
    return {
      message: '',
      snackbar: false,
      form: {
        name: '',
        email: '',
        subject: '',
        tel: '',
        content: ''
      },
      nameRules: [
        v => !!v || this.$t('views.contact.required')
      ],
      emailRules: [
        v => !!v || this.$t('views.contact.required'),
        v => /.+@.+\..+/.test(v) || this.$t('views.contact.validEmail')
      ],
      desRules: [
        v => !!v || this.$t('views.contact.required')
      ]
    }
  },
  methods: {
    async submit () {
      if (!this.$refs.form.validate()) { return }
      try {
        await submitForm(this.form)
        this.message = this.$t('views.contact.sent')
        this.snackbar = true
      } catch (error) {
        this.message = this.$t('views.contact.tryAgain')
        this.snackbar = true
        throw error
      }
    }
  }
}
</script>
