<template>
  <v-footer
    class="py-1"
    dark
    style="background: #424242;"
    height="auto"
  >
    <v-container mx-auto class="pb-0">
      <v-row align="center">
        <v-col order="0" class="col-7 col-sm-2">
          <v-img
            width="120"
            :src="image()"
          />
        </v-col>

        <v-col class="px-4" order-sm="1" order="2">
          <div class="py-4 d-flex flex-wrap justify-space-around">
            <div class="d-flex flex-column">
              <v-btn disabled text class="pl-2">
                {{ $t('components.footer.followUs') }}
              </v-btn>
              <div>
                <v-btn
                  v-for="(item, index) in contact"
                  :key="index"
                  icon
                  :href="item"
                  target="_blank"
                >
                  <v-icon v-if="item.includes('linkedin')">
                    mdi-linkedin
                  </v-icon>
                  <v-icon v-if="item.includes('facebook')">
                    mdi-facebook-box
                  </v-icon>
                  <v-icon v-if="item.includes('twitter')">
                    mdi-twitter
                  </v-icon>
                </v-btn>
              </div>
            </div>

            <v-divider inset vertical />

            <div class="d-flex flex-column pa-2 px-6">
              <n-link
                v-for="(item, i) in navLinks"
                :key="i"
                class="grey--text"
                :to="localePath(item.path)"
              >
                <span v-if="i<3">
                  {{ $t(`components.menu.${item.title}`) }}
                </span>
              </n-link>
            </div>

            <v-divider
              inset
              vertical
            />

            <div class="d-flex flex-column pa-2 px-6">
              <n-link
                v-for="(item, i) in navLinks"
                :key="i"
                class="grey--text"
                :to="localePath(item.path)"
              >
                <span v-if="i>3">
                  {{ $t(`components.menu.${item.title}`) }}
                </span>
              </n-link>
            </div>

            <div class="d-flex flex-column pl-6">
              <v-btn disabled text class="pl-0">
                {{ $t('components.footer.contactUs') }}
              </v-btn>
              <div class="grey--text">
                <small class="mb-2 grey--text">
                  <v-icon x-small class="mb-1 grey--text">mdi-map-marker</v-icon>
                  {{ address }}
                  <div>
                    <v-icon x-small left class="mb-1  grey--text">mdi-phone</v-icon>
                    <span class="pr-2">{{ tel[0] }}</span>
                  </div>
                </small>
              </div>
            </div>
          </div>
          <v-divider dark class="mt-4" />
          <div class="text-center mt-4 grey--text">
            <v-icon class="grey--text" x-small>
              mdi-copyright
            </v-icon>
            <small>
              2020 All rights reserved.
            </small>
          </div>
        </v-col>
        <v-col order="1" class="col-5 col-sm-2">
          <SelectLocale />
          <v-btn
            class="mr-0"
            fab
            small
            text
            title="Go to top"
            @click="$vuetify.goTo(0)"
          >
            <v-icon>mdi-chevron-up</v-icon>
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </v-footer>
</template>
<script>
import SelectLocale from '@/components/setLanguage.vue'

export default {
  components: {
    SelectLocale
  },
  data () {
    return {
      navLinks: [
        {
          title: 'home',
          path: '/home'
        },
        {
          title: 'properties',
          path: '/propertyTypes'
        },
        {
          title: 'news',
          path: '/news'
        },
        {
          title: 'services',
          path: '/services'
        },
        {
          title: 'career',
          path: '/career'
        },
        {
          title: 'contact',
          path: '/contact'
        },
        {
          title: 'about',
          path: '/about'
        }
      ]
    }
  },
  computed: {
    contact () {
      if (!this.$store.state.contact) { return '' }
      return this.$store.state.contact.socialMedias
    },
    address () {
      if (!this.$store.state.contact) { return }
      return this.$store.state.contact.address
    },
    tel () {
      if (!this.$store.state.contact) { return '' }
      return this.$store.state.contact.tel
    },
    logo () {
      if (!this.$store.state.user.logo) { return }
      return this.$store.state.user.logo
    }
  },
  methods: {
    image (item) {
      if (!this.logo.logo) { return }
      return `${process.env.baseUrl}/image/${this.logo.logo.split('/')[2]}?width=150&height=150`
    }
  }
}
</script>
