
<template>
  <div
    id="map"
  >
    <no-ssr>
      <MglMap
        :access-token="accessToken"
        :map-style="mapStyle"
        :center="coordinates"
        :zoom="13"
      >
        <MglGeolocateControl position="top-left" />
        <MglNavigationControl position="top-right" />
        <MglMarker :coordinates="coordinates" />
      </MglMap>
    </no-ssr>
  </div>
</template>

<script>
export default {
  props: {
    coordinates: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      accessToken: 'pk.eyJ1Ijoicml0aHllYW5nIiwiYSI6ImNrNTlkdnV3dTBrY2UzbnFoYjQ2eWUybzgifQ.j9QR8YoQflbCl8ymuID54A', // your access token. Needed if you using Mapbox maps
      mapStyle: 'mapbox://styles/mapbox/streets-v11'
    }
  }
}
</script>

<style>
#map {
  width: 100%;
  height: 500px;
}
</style>
