<template>
  <div v-if="$vuetify.breakpoint.xsOnly">
    <v-navigation-drawer v-model="drawer" dark app>
      <v-img
        contain
        width="40%"
        :src="image(logo.logo)"
        :lazy-src="image(logo.logo)"
        @click="goHome"
      />
      <v-divider />
      <v-list>
        <v-list-item-group color="primary">
          <v-list-item
            v-for="(item, i) in navLinks"
            :key="i"
            :to="localePath(item.path)"
          >
            <v-list-item-content>
              <v-list-item-title>{{ $t(`components.menu.${item.title}`) }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar fixed dark app style="background: #424242;">
      <v-app-bar-nav-icon @click="drawer = !drawer" />
      <v-toolbar-title class="pl-0">
        <v-btn text disabled style="font-weight: bolder; padding-left:0px">
          {{ logo.title }}
        </v-btn>
      </v-toolbar-title>
    </v-app-bar>
  </div>

  <v-app-bar
    v-else
    app
    shrink-on-scroll
    fixed
    elevate-on-scroll
    height="90"
    dark
    style="background: #424242;"
  >
    <v-toolbar-items class="d-flex flex-column pl-7 pb-2">
      <v-img
        contain
        aspect-ratio="1:1"
        width="90"
        :src="image(logo.logo)"
        :lazy-src="image(logo.logo)"
        @click="goHome"
      />
    </v-toolbar-items>
    <v-toolbar-title class="pb-0">
      <v-toolbar-items class=" pb-4 d-flex flex-column">
        <v-btn text disabled style="font-weight: bolder">
          {{ logo.title }}
        </v-btn>
      </v-toolbar-items>
    </v-toolbar-title>
    <v-spacer />
    <v-toolbar-title class="pr-7">
      <v-toolbar-items class="pt-2 d-flex flex-column">
        <div class="d-flex flex-row mb-5">
          <div class="ml-auto">
            <small style="font-size: 60%;" class="mb-2 grey--text">
              <v-icon x-small class="mb-1 grey--text">mdi-map-marker</v-icon>
              {{ address }}
              <v-icon x-small class="mb-1 ml-1 grey--text">mdi-phone</v-icon>
              <span class="pr-2">{{ tel }}</span>
            </small>

            <v-divider vertical />
            <SelectLocale />
          </div>
        </div>
        <div class="d-flex flex-row ml-auto">
          <NuxtLink v-for="(item, i) in navLinks" :key="i" :to="localePath(item.path)">
            <div>
              <div>
                <v-btn text>
                  {{ $t(`components.menu.${item.title}`) }}
                </v-btn>
              </div>
            </div>
          </NuxtLink>
        </div>
      </v-toolbar-items>
    </v-toolbar-title>
  </v-app-bar>
</template>

<script>
import SelectLocale from '@/components/setLanguage.vue'

export default {
  components: {
    SelectLocale
  },
  data () {
    return {
      drawer: false,
      navLinks: [
        {
          title: 'home',
          path: '/home'
        },
        {
          title: 'properties',
          path: '/propertyTypes'
        },
        {
          title: 'news',
          path: '/news'
        },

        {
          title: 'services',
          path: '/services'
        },
        {
          title: 'about',
          path: '/about'
        },
        {
          title: 'career',
          path: '/career'
        },
        {
          title: 'contact',
          path: '/contact'
        }
      ]
    }
  },
  computed: {
    address () {
      if (!this.$store.state.contact) { return }
      return this.$store.state.contact.address
    },
    tel () {
      if (!this.$store.state.contact) { return '' }
      return this.$store.state.contact.tel[0]
    },
    logo () {
      if (!this.$store.state.user.logo) { return }
      return this.$store.state.user.logo
    }
  },
  methods: {
    goHome () {
      if (this.$route.path === '/home') { return }
      this.$router.push(this.localePath({ path: '/' }))
    },
    image (item) {
      if (!item) { return }
      return `${process.env.baseUrl}/image/${item.split('/')[2]}?width=150&height=150`
    }
  }
}
</script>

<style scoped>
a {
  color: inherit;
  text-decoration: none;
}

.nuxt-link-active .v-btn{
  font-weight: bolder;
  color: #b98036 !important;
  border-bottom: solid 2px;
  border-radius: 0px
}
</style>
