<template>
  <div>
    <v-img
      :src="require('@/static/slides/home.jpg')"
      height="200"
      gradient="to top, rgba(247,240,231,.60), rgba(247,240,231,9)"
    >
      <v-container class="py-10">
        <h1 style="color: #855410;" class="text-center">
          {{ header.jsonValue.title }}
        </h1>
        <v-row>
          <v-col class="text-center">
            {{ header.jsonValue.description }}
          </v-col>
        </v-row>
      </v-container>
    </v-img>
  </div>
</template>

<script>
export default {
  props: {
    header: {
      type: Object,
      required: true
    }
  }
}
</script>
