<template>
  <v-hover v-slot:default="{ hover }">
    <nuxt-link :to="`properties/${card.id}`">
      <v-card flat :elevation="hover ? 6: 0" class="px-5 py-4" :class="hover && 'zoom'">
        <v-row>
          <v-col class="col-12 col-sm-5">
            <v-card flat>
              <v-img :aspect-ratio="16/9" :class="hover && 'zoom'" :src="imageLink" :lazy-src="imageLink">
                <div v-if="card.commercialType" class="d-flex">
                  <div class="pa-1">
                    <v-chip color="primary" dark label small>
                      {{ card.commercialType }}
                    </v-chip>
                  </div>
                </div>
              </v-img>
            </v-card>
          </v-col>
          <v-col class="col-12 col-sm-7 pb-0 d-flex flex-wrap flex-column">
            <div class="d-flex">
              <div class="headline font-weight-bold" :class="hover && 'primary--text'">
                {{ card.name }}
              </div>
              <div v-if="!!card.price" class="primary--text title ml-auto">
                {{ $n(card.price, {key: 'currency', currency: card.currency}) }}
              </div>
            </div>
            <div class="grey--text body-2 py-1">
              <v-icon small>
                mdi-map-marker
              </v-icon>
              {{ card.address }}
            </div>
            <v-card-text class="text-truncate pa-0">
              {{ text(card.description) }}
            </v-card-text>
            <div class="mt-auto">
              <v-divider class="mb-2" />
              <div class="d-flex">
                <div v-for="(item, key) in card.propertyFeature" :key="key">
                  <v-tooltip v-if="item" top small>
                    <template v-slot:activator="{ on }">
                      <v-chip outlined label small class="mr-1" v-on="on">
                        <v-icon small left>
                          {{ icons(key) }}
                        </v-icon>
                        <span>{{ item }}</span>
                        <span v-if="key ==='area'">m²</span>
                      </v-chip>
                    </template>
                    <span class="caption">{{ key }}</span>
                  </v-tooltip>
                </div>
              </div>
            </div>
          </v-col>
        </v-row>
      </v-card>
    </nuxt-link>
  </v-hover>
</template>

<script>

export default {
  props: {
    card: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      env: `${process.env.baseUrl}`
    }
  },
  computed: {
    imageLink () {
      if (!this.card.bgImage) { return `${this.env}${this.$store.state.user.logo.logo}` }
      return `${this.env}/image/${this.card.bgImage.split('/')[2]}`
    }
  },
  methods: {
    icons (key) {
      if (key === 'park') { return 'mdi-car-hatchback' }
      if (key === 'bedRoom') { return 'mdi-bed-king-outline' }
      if (key === 'storey') { return 'mdi-home-modern' }
      if (key === 'area') { return 'mdi-ruler-square' }
      if (key === 'bathRoom') { return 'mdi-shower' }
      if (key === 'kitchen') { return 'mdi-toaster-oven' }
    },
    text (item) {
      return item.replace(/(<([^>]+)>)/ig, '')
    }
  }
}
</script>

<style scoped>
.zoom {
  transition: .4s ease-in-out;
  -webkit-transition: .4s ease-in-out;
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
}
</style>
