<template>
  <v-row no-gutters>
    <v-col :class="vertical ? 'col-12': 'col-sm-4 col-12 col-md-2 pr-1'">
      <v-select
        v-model="form.commercialType"
        outlined
        :label="$t('components.search.commercial')"
        :items="commercial"
        item-text="key"
        style="margin-bottom: -20px;"
        color="primary"
      />
    </v-col>
    <v-col :class="vertical ? 'col-12': 'pr-1 col-12 col-sm-8 col-md-4'">
      <v-autocomplete
        v-model="form.location"
        :items="locations"
        style="margin-bottom: -20px;"
        outlined
        color="primary"
        :label="$t('components.search.locations')"
        persistent-hint
      />
    </v-col>
    <v-col :class="vertical ? 'col-12': 'pr-1 col-12 col-sm-4 col-md-2'">
      <v-select
        v-model="form.propertyType"
        outlined
        style="margin-bottom: -20px;"
        color="primary"
        :items="propertyTypes.map(val => val.name)"
        :label="$t('components.search.propertyType')"
      />
    </v-col>
    <v-col :class="vertical ? 'col-12': 'col-12 col-sm-4 col-md-2 pr-1'">
      <v-menu
        :close-on-content-click="false"
        :nudge-width="200"
      >
        <template v-slot:activator="{ on }">
          <v-text-field
            :value="searchPrice"
            readonly
            outlined
            append-icon="mdi mdi-menu-down"
            :label="$t('components.search.price')"
            v-on="on"
          />
        </template>
        <v-card>
          <div class="pa-5">
            <v-range-slider
              v-model="form.price"
              labels="seasons"
              step="100"
              min="0"
              max="200000"
            />
            <div class="text-center">
              {{ searchPrice }}
            </div>
          </div>
        </v-card>
      </v-menu>
    </v-col>
    <v-col :class="vertical ? 'col-12': 'col-12 col-sm-4 col-md-2 pr-1'">
      <div>
        <v-btn
          height="55"
          block
          color="primary"
          @click="search"
        >
          <v-icon left>
            mdi-magnify
          </v-icon>
          {{ $t('components.search.search') }}
        </v-btn>
      </div>
    </v-col>
  </v-row>
</template>

<script>
export default {
  props: {
    vertical: {
      type: Boolean,
      default: false
    },
    locations: {
      type: Array,
      required: true
    },
    propertyTypes: {
      type: Array,
      required: true
    }
  },
  data () {
    return {
      form: {
        commercialType: this.$route.query.commercialType || 'SALE',
        location: this.$route.query.location || '',
        price: this.$route.query.price || [0, 0],
        propertyType: this.$route.query.propertyType || ''
      },
      commercial: [{ key: this.$t('components.search.rent'), value: 'RENT' }, { key: this.$t('components.search.sale'), value: 'SALE' }]
    }
  },
  computed: {
    searchPrice () {
      if (!this.form.price[0] && !!this.form.price[1]) {
        return '< ' + this.$n(this.form.price[1], { key: 'currency', currency: 'USD' })
      }
      if (!!this.form.price[0] && !!this.form.price[1]) { return this.$n(this.form.price[0], { key: 'currency', currency: 'USD' }) + ' - ' + this.$n(this.form.price[1], { key: 'currency', currency: 'USD' }) }
      return ''
    },
    propertyTypesItems () {
      if (this.propertyTypes) {
        return this.propertyTypes.map(val => val.name)
      }
      return []
    }
  },
  methods: {
    search () {
      if (this.$route.path !== '/properties') {
        this.$router.push(this.localePath({ path: 'properties', query: { ...this.form } }))
      }
    }
  }
}
</script>

<style>
  .v-slider--horizontal .v-slider__track-container {
    height: 5px;
  }
</style>
