<template>
  <v-menu offset-y dark>
    <template v-slot:activator="{ on }">
      <v-btn
        dark
        text
        small
        v-on="on"
      >
        {{ $i18n.locale.toUpperCase() }}
        <v-icon small>
          mdi-chevron-down
        </v-icon>
      </v-btn>
    </template>
    <v-list>
      <v-list-item
        v-for="(item, index) in languages"
        :key="index"
      >
        <nuxt-link :to="switchLocalePath(item)">
          <small class="pl-1 grey--text">
            {{ item.toUpperCase() }}
          </small>
        </nuxt-link>
        </v-list-p-item>
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<script>
export default {
  data () {
    return {
      languages: ['en', 'kh', 'cn']
    }
  },
  methods: {
    changeLang (item) {
      if (this.$store.state.user.locale === item) { return }
      this.$store.dispatch('locale', item)
      this.$router.push({
        name: 'home'
      })
      location.reload()
    }
  }
}
</script>

<style >
    a {
        text-decoration: none;
    }
</style>
