<template>
  <v-menu :open-on-hover="openOnHover" bottom left offset-y>
    <template v-slot:activator="{ on }">
      <v-btn
        icon
        text
        small
        v-on="on"
      >
        <v-icon small>
          mdi mdi-share-variant
        </v-icon>
      </v-btn>
    </template>
    <v-card>
      <social-sharing
        :url="url"
        :title="title"
        :description="description"
        :quote="quote"
        :hashtags="hashtags"
        inline-template
      >
        <div class="d-flex flex-column">
          <network network="facebook">
            <v-btn blocked text>
              <i class="mdi mdi-facebook-box" /> Facebook
            </v-btn>
          </network>
          <network network="linkedin">
            <v-btn blocked text>
              <i class="mdi mdi-linkedin" /> Linkedin
            </v-btn>
          </network>
          <network network="twitter">
            <v-btn blocked text>
              <i class="mdi mdi-twitter" /> Twitter
            </v-btn>
          </network>
          <network network="whatsapp">
            <v-btn blocked text>
              <i class="mdi mdi-whatsapp" /> Whatsapp
            </v-btn>
          </network>
          <network network="telegram">
            <v-btn blocked text>
              <i class="mdi mdi-telegram" /> Telegram
            </v-btn>
          </network>
        </div>
      </social-sharing>
    </v-card>
  </v-menu>
</template>

<script>
export default {
  props: {
    openOnHover: {
      type: Boolean,
      default: false
    },
    url: {
      type: String,
      default: ''
    },
    title: {
      type: String,
      default: ''
    },
    description: {
      type: String,
      default: ''
    },
    quote: {
      type: String,
      default: ''
    },
    hashtags: {
      type: String,
      default: ''
    }
  }
}
</script>

<style>
  .mdi-facebook-box {
    color: #4267B2;
  }
  .mdi-linkedin {
    color: #0092BD;
  }
  .mdi-twitter {
    color: #1DA1F2;
  }
  .mdi-whatsapp {
    color: #00E676;
  }
  .mdi-telegram {
    color: #2DA4DE;
  }
</style>
