<template>
  <v-container>
    <v-card flat class="pa-5">
      <div class="d-flex">
        <v-btn class="ma-2 ml-0" icon @click="$router.go(-1)">
          <v-icon>mdi-chevron-left</v-icon>
        </v-btn>
        <div class="headline font-weight-bold primary--text mt-2" @click="$router.go(-1)">
          {{ news.title }}
        </div>
        <div class="ml-auto">
          <Share :url="url" :title="news.title" :description="news.content" />
        </div>
      </div>
      <v-img
        contain
        :src="`${env}${news.bgImage}`"
        :lazy-src="`${env}${news.bgImage}`"
        height="400px"
      />
      <div class="grey--text body-2 py-1 mt-2">
        {{ parseDate(news.createdAt).toUTCString() }}
      </div>
      <div class="my-2 text-justify" v-html="news.content" />
    </v-card>
  </v-container>
</template>

<script>
import Share from '@/components/SocialMediaShare.vue'
import getNews from '@/api/newsDetails.js'

export default {
  components: {
    Share
  },
  async asyncData (context) {
    const res = await getNews({ lang: `${context.app.i18n.locale}`, id: context.params.id })
    context.store.commit('setEssentail', res.data)
    return { news: res.data.NewsAndEvent }
  },
  data () {
    return {
      env: `${process.env.baseUrl}`,
      news: {},
      url: ''
    }
  },
  mounted () {
    this.$vuetify.goTo(0)
    this.url = window.location.href
  },
  methods: {
    parseDate (date) {
      return new (Function.prototype.bind.apply(
        Date, [null].concat(date)
      ))()
    }
  },
  head () {
    return {
      title: this.news.title,
      meta: [
        { hid: 'description', name: 'description', content: this.news.content.replace(/(<([^>]+)>)/ig, '') },
        { property: 'fb:app_id', content: '' },
        { property: 'og:title', content: this.news.title },
        { property: 'og:type', content: 'article' },
        { property: 'og:url', content: this.url },
        { property: 'og:image', content: `${this.env}${this.news.bgImage}` },
        { property: 'og:description', content: this.news.content.replace(/(<([^>]+)>)/ig, '') },
        { name: 'twitter:news', content: 'summary' },
        { name: 'twitter:title', content: this.news.title },
        { name: 'twitter:description', content: this.news.content.replace(/(<([^>]+)>)/ig, '') },
        { name: 'twitter:image', content: `${this.env}${this.news.bgImage}` },
        { name: 'twitter:domain', content: 'bananarealtor.com' }

      ],
      noscript: [
        { innerHTML: 'Body No Scripts', body: true }
      ]
    }
  }
}
</script>
