<template>
  <div>
    <Header v-if="header" :header="header" />

    <v-container>
      <div class="title py-2">
        {{ $t('views.news.latestNews') }}
      </div>
      <v-card flat>
        <v-row>
          <v-col v-for="(item, index) in news" :key="index" class="col-12 pt-0">
            <Templates :news="item" />
            <v-divider v-if="index < news.length-1" class="mx-2 mt-2" />
          </v-col>
        </v-row>
      </v-card>
      <div v-if="!news.length">
        {{ $t('views.news.noData') }}
      </div>
    </v-container>
  </div>
</template>

<script>
import Header from '@/components/PageHeader.vue'
import Templates from '@/components/News/List.vue'
import getNews from '@/api/news.js'

export default {
  components: {
    Templates,
    Header
  },
  async asyncData (context) {
    const res = await getNews({ lang: `${context.app.i18n.locale}` })
    context.store.commit('setEssentail', res.data)
    return { news: res.data.NewsAndEvents.select, header: res.data.header.select[0] }
  },
  data () {
    return {
      header: {},
      news: []
    }
  }
}
</script>
