<template>
  <v-card flat>
    <div class="d-flex flex-wrap pa-3">
      <v-avatar
        class="mx-auto"
        color="grey"
        size="120"
      >
        <v-img :src="image(card.agent.image)" :lazy-src="image(card.agent.image)" />
      </v-avatar>

      <v-list-item class="mx-auto">
        <v-list-item-content class="text-center">
          <v-list-item-title class="title">
            {{ card.agent.name }}
          </v-list-item-title>
          <v-list-item-subtitle>{{ card.agent.position }}</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
      <div>
        <div v-if="card.agent.tel">
          <v-icon small>
            mdi-phone
          </v-icon> {{ card.agent.tel }}
        </div>
        <div v-if="card.agent.email">
          <v-icon small>
            mdi-mail
          </v-icon>&nbsp;
          <a href="mailto:webmaster@example.com">{{ card.agent.email }}</a>
        </div>
      </div>
    </div>
  </v-card>
</template>

<script>
export default {
  props: {
    card: {
      type: Object,
      required: true
    }
  },
  methods: {
    image (item) {
      if (!item) { return }
      return `${process.env.baseUrl}/image/${item.split('/')[2]}?width=500&height=500`
    }
  }
}
</script>
