<template>
  <v-card flat>
    <v-list>
      <v-list-item v-if="!!card.price">
        <v-list-item-content class="grey--text">
          {{ $t('components.propertyDetails.table.price') }}:
        </v-list-item-content>
        <v-list-item-content class="align-end primary--text">
          {{ $n(card.price, {key: 'currency', currency: card.currency}) }}
        </v-list-item-content>
      </v-list-item>
      <v-list-item>
        <v-list-item-content class="grey--text">
          {{ $t('components.propertyDetails.table.type') }}:
        </v-list-item-content>
        <v-list-item-content class="align-end">
          {{ card.commercialType }}
        </v-list-item-content>
      </v-list-item>
      <v-list-item v-if="card.type.name !== 'LAND'">
        <v-list-item-content class="grey--text">
          {{ $t('components.propertyDetails.table.parking') }}:
        </v-list-item-content>
        <v-list-item-content class="align-end">
          {{ card.propertyFeature.park }}
        </v-list-item-content>
      </v-list-item>
      <v-list-item v-if="card.propertyFeature.area">
        <v-list-item-content class="grey--text">
          {{ $t('components.propertyDetails.table.area') }}:
        </v-list-item-content>
        <v-list-item-content class="align-end">
          {{ card.propertyFeature.area }} m²
        </v-list-item-content>
      </v-list-item>
      <v-list-item v-if="card.type.name !== 'LAND'">
        <v-list-item-content class="grey--text">
          {{ $t('components.propertyDetails.table.bedroom') }}:
        </v-list-item-content>
        <v-list-item-content class="align-end">
          {{ card.propertyFeature.bedRoom }}
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-card>
</template>
<script>
export default {
  props: {
    card: {
      type: Object,
      required: true
    }
  }
}
</script>
