<template>
  <div>
    <Header v-if="!!header" :header="header" />
    <v-container>
      <Timeline v-if="!!timeline" :timeline="timeline" />
      <Missions :mission="mission" />
      <Vision :vision="vision" />
      <Teams v-if="!!teams" :teams="teams" />
      <Certification :certification="certification" />
    </v-container>
  </div>
</template>
<script>
import Header from '@/components/PageHeader.vue'
import Timeline from '@/components/About/Timeline.vue'
import Missions from '@/components/About/Missions.vue'
import Vision from '@/components/About/Vision.vue'
import Teams from '@/components/About/Teams.vue'
import Certification from '@/components/About/Certification.vue'
import getAbout from '@/api/about.js'

export default {
  components: {
    Header,
    Timeline,
    Missions,
    Vision,
    Teams,
    Certification
  },
  async asyncData (context) {
    const res = await getAbout({ lang: `${context.app.i18n.locale}` })
    context.store.commit('setEssentail', res.data)
    return {
      header: res.data.header.select[0],
      timeline: res.data.CompanyHistories.select,
      mission: res.data.mission.select[0].jsonValue,
      vision: res.data.aboutVision.select[0].jsonValue,
      teams: res.data.TeamMembers.select,
      certification: res.data.certification.select[0].jsonValue
    }
  },
  data () {
    return {
      header: {},
      timeline: [],
      teams: {},
      missions: [],
      vision: {},
      certification: {}
    }
  },
  mounted () {
    this.$vuetify.goTo(0)
  }
}
</script>
