<template>
  <div>
    <Header v-if="header" :header="header" />
    <v-container class="pa-5">
      <v-row>
        <div class="title py-2 primary--text">
          {{ $t('views.career.openPositions') }}
        </div>
      </v-row>
      <v-row class="pa-2">
        <v-col>
          <v-simple-table>
            <template v-slot:default>
              <thead>
                <tr>
                  <th class="text-left">
                    {{ $t('views.career.jobTitle') }}
                  </th>
                  <th class="text-left">
                    {{ $t('views.career.post') }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item, i) in careers" :key="i" @click="details = item">
                  <td>{{ item.title }}</td>
                  <td>{{ item.requirePost }}</td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
          <div v-if="careers.length === 0" class="text-center py-4">
            {{ $t('views.career.noData') }}
          </div>
        </v-col>
      </v-row>
      <v-row v-if="details.brief">
        <div class="title primary--text">
          {{ $t('views.career.benefits') }}
        </div>
      </v-row>
      <v-row>
        <v-col class="col-sm-12">
          <span v-html="details.brief" />
        </v-col>
      </v-row>

      <v-row v-if="details.description">
        <div class="title primary--text">
          {{ $t('views.career.responsibilities') }}
        </div>
      </v-row>
      <v-row>
        <v-col class="col-sm-12">
          <span v-html="details.description" />
        </v-col>
      </v-row>

      <v-row v-if="details.requirement">
        <div class="title primary--text">
          {{ $t('views.career.requirements') }}
        </div>
      </v-row>
      <v-row>
        <v-col class="col-sm-12">
          <span v-html="details.requirement" />
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>
import Header from '@/components/PageHeader.vue'
import getCareers from '@/api/careers.js'

export default {
  components: {
    Header
  },
  async asyncData (context) {
    const res = await getCareers({ lang: `${context.app.i18n.locale}` })
    context.store.commit('setEssentail', res.data)
    return {
      header: res.data.header.select[0],
      careers: res.data.Careers.select
    }
  },
  data () {
    return {
      header: {},
      careers: [],
      details: {}
    }
  },
  mounted () {
    this.$vuetify.goTo(0)
  }
}
</script>

<style>
ul {
  list-style: none;
}
ul li::before {
  content: "\2022";
  color: #B98036;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
</style>
