<template>
  <div>
    <Header v-if="header" :header="header" />

    <v-container>
      <div class="about">
        <div>
          <v-row>
            <v-col class="col-12 col-sm-4">
              <div class="py-2">
                <span class="grey--text subtitle-1">{{ $t('views.contact.contact') }}:</span>
                <div>
                  <v-img :src="image()" :lazy-src="image()" width="180" />
                  <div v-if="contact.tel" class="d-flex">
                    <div>
                      <v-icon small>
                        mdi-phone
                      </v-icon>
                    </div>
                    <div class="ml-2">
                      <div v-for="(item, index) in contact.tel" :key="index" class="text-left">
                        {{ item }}
                      </div>
                    </div>
                  </div>
                  <div v-if="contact.email">
                    <v-icon small>
                      mdi-mail
                    </v-icon>&nbsp;
                    <a class="ml-1" href="mailto:webmaster@example.com">{{ contact.email }}</a>
                  </div>
                </div>
              </div>
              <div v-if="contact.address" class="pt-2">
                <span class="grey--text subtitle-1">{{ $t('views.contact.address') }}:</span>
                <div>
                  <v-icon small>
                    mdi-map-marker
                  </v-icon>&nbsp;
                  {{ contact.address }}
                </div>
              </div>
            </v-col>
            <v-col v-if="contact.longitudes && contact.latitudes" class="col-12 col-sm-8">
              <div class="py-2">
                <span class="grey--text subtitle-1">{{ $t('views.contact.ourLocation') }}:</span>
              </div>
              <div>
                <Map :coordinates="[contact.longitudes, contact.latitudes]" />
              </div>
            </v-col>
          </v-row>
        </div>
        <v-divider />
        <FeedbackForm />
      </div>
    </v-container>
  </div>
</template>

<script>
import Map from '@/components/Map.vue'
import Header from '@/components/PageHeader.vue'
import FeedbackForm from '@/components/FeedbackForm.vue'
import getContact from '@/api/contact.js'

export default {
  components: {
    Header,
    Map,
    FeedbackForm
  },
  async asyncData (context) {
    const res = await getContact({ lang: `${context.app.i18n.locale}` })
    context.store.commit('setEssentail', res.data)
    return {
      header: res.data.header.select[0],
      contact: res.data.contact.select[0].jsonValue
    }
  },
  data () {
    return {
      header: {},
      contact: {}
    }
  },
  mounted () {
    this.$vuetify.goTo(0)
  },
  methods: {
    image (item) {
      const logo = this.$store.state.user.logo
      if (!logo) { return }
      return `${process.env.baseUrl}/image/${logo.logo.split('/')[2]}?width=180&height=180`
    }
  }
}
</script>
