<template>
  <div>
    <Search />
    <v-container>
      <List title="views.home.recent" :properties="fistPropertiesList" />
      <List title="views.home.featured" :properties="secondPropertiesList" />
      <div>
        <AboutVision :vision="vision" />
      </div>
      <div v-if="news.length" class="pt-4">
        <span class="grey--text title">{{ $t('views.home.latestNews') }}</span>
        <v-card flat>
          <v-row>
            <v-col v-for="(item, index) in news" :key="index" class="col-12 pt-0">
              <News :news="item" />
              <v-divider v-if="index < news.length-1" class="mx-2 mt-2" />
            </v-col>
          </v-row>
        </v-card>
      </div>
    </v-container>
  </div>
</template>

<script>
import Search from '@/components/Home/Search.vue'
import List from '@/components/Home/List.vue'
import AboutVision from '@/components/About/Vision.vue'
import News from '@/components/News/List.vue'
import getQuery from '@/api/home.js'

export default {
  components: {
    Search,
    List,
    AboutVision,
    News
  },
  async asyncData (context) {
    const res = await getQuery({ lang: `${context.app.i18n.locale}` })
    context.store.commit('initailHomeData', res.data)
    return { data: res, vision: res.data.aboutVision.select[0].jsonValue }
  },
  data () {
    return {
      data: '',
      vision: {}
    }
  },
  computed: {
    news () {
      return this.$store.state.homeNews
    },
    fistPropertiesList () {
      return this.$store.state.home.firstList
    },
    secondPropertiesList () {
      return this.$store.state.home.secondList
    }
  },
  mounted () {
    this.$vuetify.goTo(0)
  }
}
</script>
