<template>
  <div>
    <v-card tile class="mx-auto">
      <v-container class="pb-0">
        <Search class="pa-4" :locations="locations" :property-types="propertyTypes" />
      </v-container>
    </v-card>
    <v-container>
      <v-row>
        <v-col v-for="item in propertyTypes" :key="item.id" class="col-sm-6 col-md-4 d-flex">
          <v-hover v-slot:default="{ hover }">
            <v-card
              :elevation="hover ? 10: 0"
              :class="hover && 'zoom'"
              width="100%"
              @click="list(item.name)"
            >
              <v-img
                :src="image(item.image)"
                :lazy-src="image(item.image)"
                height="150"
              />
              <v-card-text>
                <div class="primary--text title text-center">
                  {{ item.name }}
                </div>
                <div class="text-center">
                  {{ text(item.description) }}
                </div>
              </v-card-text>
            </v-card>
          </v-hover>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import Search from '@/components/Search.vue'
import getPropertyTypes from '@/api/propertyTypes.js'

export default {
  components: {
    Search
  },
  async asyncData (context) {
    const res = await getPropertyTypes({ lang: `${context.app.i18n.locale}` })
    context.store.commit('setEssentail', res.data)
    return { propertyTypes: res.data.PropertyTypes.select, locations: res.data.ProvinceDistricts.select.map(item => item.name) }
  },
  data () {
    return {
      propertyTypes: [],
      locations: []
    }
  },
  mounted () {
    this.$vuetify.goTo(0)
  },
  methods: {
    list (type) {
      this.$router.push(this.localePath({ path: '/properties', query: { propertyType: type } }))
    },
    text (item) {
      return item.replace(/(<([^>]+)>)/ig, '')
    },
    image (item) {
      if (!item) { return }
      return `${process.env.baseUrl}/image/${item.split('/')[2]}?width=600&height=600`
    }
  }
}
</script>

<style scoped>
.zoom {
  transition: .2s ease-in-out;
  -webkit-transition: .2s ease-in-out;
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
}
</style>
