<template>
  <div>
    <Header v-if="header" :header="header" />
    <v-container>
      <v-row v-if="!show" class="justify-space-around d-flex">
        <v-col v-for="(item, index) in services" :key="index" class="col-md-4 d-flex">
          <v-hover v-slot:default="{ hover }">
            <v-card
              :elevation="hover ? 7: 0"
              :class="hover && 'zoomCard'"
              class="ma-4"
              @click="showDetails(item)"
            >
              <v-card flat style="margin-top: -25px;" class="mx-5">
                <v-img
                  class="white--text align-end"
                  height="200"
                  :src="`${env}${item.bgImage}`"
                  :lazy-src="`${env}${item.bgImage}`"
                />
              </v-card>

              <v-card-text class="text-center title">
                {{ item.title }}
              </v-card-text>
              <v-card-text class="text-center">
                {{ item.description }}
              </v-card-text>
            </v-card>
          </v-hover>
        </v-col>
      </v-row>
      <v-row v-if="show">
        <v-col>
          <v-card flat class="pa-5">
            <div class="d-flex">
              <v-btn class="ma-2 ml-0" icon @click="show=false">
                <v-icon>mdi-chevron-left</v-icon>
              </v-btn>
              <div class="headline font-weight-bold primary--text mt-2" @click="show=false">
                {{ details.title }}
              </div>
            </div>
            <v-img
              contain
              :src="`${env}${details.bgImage}`"
              :lazy-src="`${env}${details.bgImage}`"
              height="400px"
            />
            <div class="my-2 pt-5 text-justify" v-html="details.content" />
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import Header from '@/components/PageHeader.vue'
import getServices from '@/api/services.js'

export default {
  components: {
    Header
  },
  async asyncData (context) {
    const res = await getServices({ lang: `${context.app.i18n.locale}` })
    context.store.commit('setEssentail', res.data)
    return { services: res.data.Services.select, header: res.data.header.select[0] }
  },
  data () {
    return {
      details: {},
      show: false,
      env: `${process.env.baseUrl}`,
      header: {},
      services: []
    }
  },
  mounted () {
    this.$vuetify.goTo(0)
  },
  methods: {
    showDetails (item) {
      this.details = item
      this.show = true
    }
  }
}
</script>
