<template>
  <v-container>
    <v-row no-gutters>
      <v-col class="col-12 col-md-9">
        <div class="d-flex">
          <div>
            <v-btn class="ma-2 ml-0" icon @click="$router.go(-1)">
              <v-icon>mdi-chevron-left</v-icon>
            </v-btn>
            <a @click="$router.go(-1)">
              {{ $t('views.propertyDetails.back') }}
            </a>
          </div>
          <div class="ml-auto mt-3">
            <Share
              :url="`${url}`"
              :title="card.name"
              :description="card.description"
            />
          </div>
        </div>
      </v-col>
    </v-row>

    <v-row>
      <v-col class="col-12 col-md-9">
        <v-card flat color="#EEEEEE">
          <v-carousel
            cycle
            height="400"
            hide-delimiter-background
            show-arrows-on-hover
            delimiter-icon="mdi-minus"
          >
            <v-carousel-item v-for="item in items" :key="item.id" v-html="item" />
          </v-carousel>
        </v-card>
        <div class="pa-4 pt-4">
          <div class="headline font-weight-bold">
            {{ card.name }}
          </div>
          <div class="grey--text body-2 py-1">
            <v-icon color="primary" small>
              mdi-map-marker
            </v-icon> {{ card.address }}
          </div>
          <div class="py-1" v-html="card.description" />
          <div>
            <div class="title font-weight-bold py-3">
              {{ $t(`views.propertyDetails.propertyFeature`) }}
            </div>
            <v-row v-if="card.type.name === 'LAND' && !!card.info">
              <v-col v-for="(item, key) in card.info.nearby" :key="key" class="col-6">
                <div class="text-capitalize">
                  <v-icon small color="primary">
                    mdi-check-circle-outline
                  </v-icon>
                  {{ item }}
                </div>
              </v-col>
            </v-row>
            <div v-else>
              <v-row v-for="(item, key) in card.propertyFeature" :key="key">
                <v-col v-if="parseInt(item) !== 0 && !!item" class="col-6">
                  <div>
                    <v-icon small color="primary">
                      mdi-check-circle-outline
                    </v-icon>
                    {{ item }}
                    {{ $t(`views.propertyDetails.${key}`) }}
                  </div>
                </v-col>
              </v-row>
            </div>
          </div>
          <div v-if="coordinates.length">
            <div class="my-5">
              <p class="title font-weight-bold pt-2">
                {{ $t(`views.propertyDetails.location`) }}
              </p>
            </div>
            <Map :coordinates="coordinates" />
          </div>
        </div>
      </v-col>
      <v-col class="col-12 col-md-3">
        <Agent :card="card" />
        <Info class="mt-2" :card="card" />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>

import Map from '@/components/Map.vue'
import Agent from '@/components/PropertyDetails/Agent.vue'
import Info from '@/components/PropertyDetails/InfoCard.vue'
import getProperty from '@/api/propertyDetails.js'
import Share from '@/components/SocialMediaShare.vue'

export default {
  components: {
    Agent,
    Info,
    Share,
    Map
  },
  async asyncData (context) {
    const res = await getProperty({ lang: `${context.app.i18n.locale}`, id: context.params.id })
    context.store.commit('setEssentail', res.data)
    return { card: res.data.Property }
  },
  data () {
    return {
      card: {},
      url: '',
      coordinates: [],
      env: `${process.env.baseUrl}`
    }
  },
  computed: {
    items () {
      return this.card.images.map((arr) => {
        if (arr.includes('files')) { return `<video width="100%" height="auto" controls muted autoplay loop> <source src="${this.env}${arr}" type="video/ogg"></video>` }
        if (arr.includes('image')) { return `<img class="d-flex mx-auto" style="height:100%;" src="${this.env}${arr}"></img>` }
      })
    }
  },
  mounted () {
    this.$vuetify.goTo(0)
    this.url = window.location.href
  },
  created () {
    if (this.card.location) {
      this.coordinates = [this.card.location.longitude, this.card.location.latitude]
    }
  },
  head () {
    return {
      title: this.card.name,
      meta: [
        { hid: 'description', name: 'description', content: this.card.description.replace(/(<([^>]+)>)/ig, '') },
        { property: 'fb:app_id', content: '' },
        { property: 'og:title', content: this.card.name },
        { property: 'og:type', content: 'article' },
        { property: 'og:url', content: this.url },
        { property: 'og:image', content: `${this.env}${this.card.bgImage}` },
        { property: 'og:description', content: this.card.description.replace(/(<([^>]+)>)/ig, '') },
        { name: 'twitter:card', content: 'summary' },
        { name: 'twitter:title', content: this.card.name },
        { name: 'twitter:description', content: this.card.description.replace(/(<([^>]+)>)/ig, '') },
        { name: 'twitter:image', content: `${this.env}${this.card.bgImage}` },
        { name: 'twitter:domain', content: 'bananarealtor.com' }

      ],
      noscript: [
        { innerHTML: 'Body No Scripts', body: true }
      ]
    }
  }
}
</script>

<style>
#map {
  width: 100%;
  height: 500px;
}
</style>
