<template>
  <div>
    <Header :header="header" />
    <v-container>
      <v-row class="pt-0">
        <v-col class="col-md-9 ma-2 ma-md-0" order="2" order-md="1">
          <v-data-iterator
            :items="properties"
            :items-per-page.sync="itemsPerPage"
            :hide-default-footer="properties.length === 0"
          >
            <template v-slot:no-data>
              <div class="grey--text title text-center pt-10">
                {{ $t('views.properties.noData') }}
              </div>
            </template>
            <template v-slot:default="props">
              <v-row no-gutters>
                <v-col v-for="(item, index) in props.items" :key="index" cols="12" class="pb-3">
                  <List :card="item" />
                </v-col>
              </v-row>
            </template>
          </v-data-iterator>
        </v-col>
        <v-col class="col-12 col-md-3 px-0" order="1" order-md="2">
          <v-card flat class="pa-5">
            <div class="title">
              Search
            </div>
            <br>
            <Search :vertical="true" :locations="locations" :property-types="propertyTypes" />
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import Header from '@/components/PageHeader.vue'
import List from '@/components/PropertiesList.vue'
import Search from '@/components/Search.vue'
import getPropertiesList from '@/api/searchProperties.js'

export default {
  components: {
    Header,
    List,
    Search
  },
  async asyncData (context) {
    const res = await getPropertiesList({ ...context.route.query, lang: `${context.app.i18n.locale}` })
    context.store.commit('setEssentail', res.data)
    return {
      header: res.data.header.select[0],
      properties: res.data.Properties.select,
      propertyTypes: res.data.PropertyTypes.select,
      locations: res.data.ProvinceDistricts.select.map(item => item.name)
    }
  },
  data () {
    return {
      itemsPerPageArray: [4, 8, 12],
      page: 1,
      itemsPerPage: 5,
      header: {},
      properties: [],
      propertyTypes: [],
      locations: []
    }
  }
}
</script>
