<template>
  <div>
    <v-row v-if="certification.description" justify="center">
      <v-col class="pb-0">
        <h1 style="color: #855410;" class="text-center">
          {{ $t('components.about.certification') }}
        </h1>
      </v-col>
    </v-row>
    <v-row class="justify-space-around">
      <v-col>
        <v-card flat class="pa-5">
          <div v-html="certification.description" />
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  props: {
    certification: {
      type: Object,
      required: true
    }
  }
}
</script>
