<template>
  <div v-if="!!mission">
    <v-row class="justify-space-around">
      <v-col v-for="(item, index) in mission.value" :key="index" class="col-12 col-sm-4">
        <v-card
          flat
          color="transparent"
          class="mx-auto"
          max-width="344"
        >
          <v-card-text>
            <p class="display-1 primary--text">
              {{ item.title }}
            </p>
            <div class="text--primary" v-html="item.description" />
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  props: {
    mission: {
      type: Object,
      required: true
    }
  }
}
</script>
