<template>
  <div>
    <v-row justify="center">
      <v-col>
        <h1 v-if="teams.length" style="color: #855410;" class="text-center">
          {{ $t('components.about.teams.title') }}
        </h1>
      </v-col>
    </v-row>
    <v-row class="justify-space-around">
      <v-col v-for="(item, index) in teams" :key="index" class="col-md-4 d-flex">
        <v-card
          flat
          tile
          class="mx-auto pa-5"
          width="250px"
        >
          <center>
            <v-avatar
              size="120"
              color="grey"
            >
              <v-img
                :src="image(item.image)"
                :lazy-src="image(item.image)"
              />
            </v-avatar>
          </center>

          <v-card-text class="text-center text-capitalize pb-0">
            <div class="title primary--text text-capitalize">
              {{ item.name }}
            </div>
            <p class="mb-0">
              {{ item.position }}
            </p>
            <div>
              <v-btn
                v-for="(link, i) in item.socialLink"
                :key="i"
                icon
                :href="item"
                target="_blank"
              >
                <v-icon v-if="link.includes('linkedin')">
                  mdi-linkedin
                </v-icon>
                <v-icon v-if="link.includes('facebook')">
                  mdi-facebook-box
                </v-icon>
                <v-icon v-if="link.includes('twitter')">
                  mdi-twitter
                </v-icon>
              </v-btn>
            </div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  props: {
    teams: {
      type: Array,
      required: true
    }
  },
  methods: {
    image (item) {
      if (!item) { return }
      return `${process.env.baseUrl}/image/${item.split('/')[2]}?width=1000&height=600`
    }
  }
}
</script>
