<template>
  <v-row v-if="timeline.length" justify="center" align="center">
    <v-col align-self="center">
      <v-timeline :dense="$vuetify.breakpoint.xsOnly">
        <v-timeline-item
          v-for="(item, i) in timeline"
          :key="i"
          color="primary"
          class="py-6"
        >
          <template v-slot:icon>
            <v-avatar size="90">
              <img :src="image(item.image)" :lazy-src="image(item.image)">
            </v-avatar>
          </template>
          <template v-if="$vuetify.breakpoint.smAndUp" v-slot:opposite>
            <span
              :class="`headline font-weight-bold primary--text px-10`"
              v-text="item.year"
            />
          </template>
          <div class="py-4 px-10">
            <div v-if="$vuetify.breakpoint.xsOnly" class="title primary--text">
              {{ item.year }}
            </div>
            <span v-html="item.description" />
          </div>
        </v-timeline-item>
      </v-timeline>
    </v-col>
  </v-row>
</template>

<script>
export default {
  props: {
    timeline: {
      type: Array,
      required: true
    }
  },
  methods: {
    image (item) {
      if (!item) { return }
      return `${process.env.baseUrl}/image/${item.split('/')[2]}?width=500&height=500`
    }
  }
}
</script>
