<template>
  <v-row v-if="!!vision" no-gutters>
    <v-col v-if="vision.title || vision.description" style="background: #F7F0E7;" class="pa-5 d-flex col-12 col-sm-6">
      <div class="text-center my-auto">
        <h1 style="color: #855410;" class="text-center text-capitalize">
          {{ vision.title }}
        </h1>
        <div v-html="vision.description" />
      </div>
    </v-col>
    <v-col class="col-12 col-sm-6">
      <v-img height="400" :src="image(vision.image)" :lazy-src="image(vision.image)" />
    </v-col>
  </v-row>
</template>

<script>
export default {
  props: {
    vision: {
      type: Object,
      required: true
    }
  },
  methods: {
    image (item) {
      if (!item) { return }
      return `${process.env.baseUrl}/image/${item.split('/')[2]}`
    }
  }
}
</script>
